<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      Simple Chat App
    </div>
    <div class="card-body">
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
        <div *ngFor="let message of messageList"
          class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold">{{message}}</span>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
          <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <input class="input-message" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
              <button (click)="sendMessage()" class="btn btn-primary btn-message">Send Message</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>